.movie_card {
    width: 180px;
    height: 400px;
}

.movie_card_img {
    width: 180px;
    height: 270px;
    border-radius: 8px;
}

.movie_card_title {
    margin-top: 0px;
    font-size: 16px;
    font-weight: 500;
    color: var(--textColor);
}
