.movie_card_container {
    display: flex;
}

.movie_year,
.movie_rating,
.movie_votes {
    padding-right: 12px;
    font-size: 12px;
    font-weight: 300;
    color: var(--textColor);
}

.movie_rating_icon,
.movie_votes_icon {
    padding-right: 4px;
    padding-top: 12px;
    font-size: 14px;
    color: var(--iconColor);
}
