.paragraph_container {
    display: flex;
    align-items: center;
}

.movie_year,
.movie_rating,
.movie_votes,
.movie_name {
    padding-right: var(--spacingLarge);
    font-size: var(--fontSizeBase);
    font-weight: var(--fontWeightLight);
    color: var(--textColor);
}

.movie_rating_icon,
.movie_votes_icon,
.movie_name_icon {
    padding-right: var(--spacingBase);
    color: var(--iconColor);
}
