@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

:root {
    --textColor: #fff;
    --backgroundColor: #10141e;
    --iconColor: #fff;
    --backgroundMenuColor: #161d2f;
    --arrowColor: #5a698f;
    --dotsColor: #5a698f;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background: var(--backgroundColor);
}
