@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
    /* ### Color */
    --textColor: #fff;
    --textMenuColor: #5a698f;
    --backgroundColor: #10141e;
    --backgroundMenuColor: #161d2f;
    --backgroundButtonColor: #10141e;
    --backgroundModalColor: #000;
    --iconColor: #fff;
    --iconColorHover: #5a698f;
    --arrowColor: #5a698f;

    /* ### Spacing */
    --spacingBase: 4px;
    --spacingSmall: 8px;
    --spacingLarge: 12px;
    --spacingExtraLarge: 40px;

    /* ### Font-size */
    --fontSizeBase: 16px;
    --fontSizeSmall: 12px;
    --fontSizeLarge: 24px;
    --fontSizeExtraLarge: 36px;

    /* ### Font-weight */
    --fontWeightLight: 300;
    --fontWeightMedium: 500;

    /* ### Border-radius */
    --borderRadius: 8px;

    /* ### Width */
    --containerWidth: 1200px;
    --arrowSliderWidth: 60px;
    --menuWidth: 600px;
    --imagePageWidth: 300px;
    --movieCardImageWidth: 228px;
    --movieCardWidth: 228px;
    --sliderContainerWidth: 1320px;
    --modalContainerWidth: 800px;

    /* ### Height */
    --menuHeight: 60px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
    background: var(--backgroundColor);
}
